
<div class= "container">

  <h2>Log In</h2>

  <%= form_with url: sessions_path do |f| %>
    
    <div class="input-field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>>

    <div class="input-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="btn waves-effect">
      <%= f.submit "Log In" %>
    </div>
  <% end %>
</div>