<div class="center-reg" >
  <div class= "container">
    <div class="row">
      <div class="col s10 offset-s1" >
        <h3 class="white-text">Register as Student</h3>
        <%= form_with url: students_path, model: User do |f| %>
          <div class="input-field white-text">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>

          <div class="input-field white-text">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>

          <div class="input-field white-text">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>

          <div class="input-field white-text">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>

          <div class="btn waves-effect black-text">
            <%= f.submit "Register" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>        
</div>