<div class="container">

  <div class="row profile-info">
    <div id="profile-picture-div" class="col s3">
     <a id="profile-picture" href="/users/<%=current_user.id%>/edit">
      <%= image_tag("Karl-defualt.jpg", :alt => "default", :class => "hoverable") %>
     </a>
    </div>
    <div class="col s3 white-text ">
      <h5>Welcome</h5>
      <h5><%= current_user.first_name.capitalize %></h5>
    </div>
  </div>

  <br>

  <div class="row center">
    <div class="btn waves-effect black-text">
      <%= button_to "Make a new request", requests_path %>
    </div>
  </div>
</div>


<% if @request != nil %>
	<div class="row center">
    <div class="btn waves-effect black-text">
      <%= button_to "I've been helped", request_path(@request), method: :delete %>
    </div>
  </div>

<% end %>

<% if @pending_requests.any? && current_user.mentor %>
	<div class="row center">
    <div class="btn waves-effect black-text">
      <%= button_to "Pick up a request", request_path(@pending_requests.first), method: :patch %>
    </div>
  </div>
<% end %>

<div class="center" id="requests-in-progress">
	<h3 class="header white-text center">In Progress:</h3>
	<% @requests_in_progress.each do |r| %>
	<%= render partial: 'requests/request_in_progress', locals: {r: r} %>
	<% end %>
</div>

<div class="center" id="requests">
	<h3 class="header white-text center">Queue:</h3>
<% @pending_requests.each do |r| %>
	<div-><%= render partial: 'requests/pending_request', locals: {r: r} %></div>
<% end %>
  <div class="bullshit-div"> </div>
</div>

