<div class="container">
  
  <div class="row profile-info">
    <div id="profile-picture-div" class="col s3">
     <a href="/users/<%=current_user.id%>/edit"> 
      <%= image_tag("Karl-defualt.jpg", :alt => "default", :class => "hoverable", :id => "profile-picture") %>
     </a>
    </div>
    <div class="col s3 white-text ">
      <h5>Welcome</h5>
      <h5><%= current_user.first_name.capitalize %></h5>
    </div>
  </div>

  <%= button_to "Make a new request", requests_path %>
</div>

<% if @request != nil %> 
	<%= button_to "I've been helped", request_path(@request), method: :delete %>
<% end %>

<% if @pending_requests.any? && current_user.mentor %>
	<%= button_to "Pick up a request", request_path(@pending_requests.first), method: :patch %>
<% end %>

<div id="requests-in-progress">
	<h1>In Progress:</h1>
	<% @requests_in_progress.each do |r| %>
	<%= render partial: 'requests/request_in_progress', locals: {r: r} %>
	<% end %>
</div>

<div id="requests">
	<h1>Queue</h1>
<% @pending_requests.each do |r| %>
	<%= render partial: 'requests/pending_request', locals: {r: r} %>
<% end %>
</div>

