<!DOCTYPE html>
<html>
  <head>
    <title>KarlApp</title>
    <%= csrf_meta_tags %>
    <!-- adds source sans pro as a font" -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", session_path(current_user), method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_session_path %></li>
          <li><%= link_to "Create Account", new_user_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
